In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("../raw_data/laps.csv")
df

/var/folders/f9/4fv5w4w54kggnjcsztxt19wm0000gn/T/ipykernel_42647/325030988.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/laps.csv")

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,0 days 00:07:07.988000,NaN,1.0,17.0,False,NaN,False,False,Melbourne,2018
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,0 days 00:08:53.241000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,0 days 00:10:26.613000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,0 days 00:11:59.474000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,0 days 00:13:31.658000,NaN,2.0,17.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,0 days 02:24:21.766000,2023-06-04 14:25:21.773,1.0,20.0,False,NaN,False,True,Barcelona,2023
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,0 days 02:25:43.046000,2023-06-04 14:26:43.053,1.0,20.0,False,NaN,False,True,Barcelona,2023
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,0 days 02:27:05.180000,2023-06-04 14:28:05.187,1.0,20.0,False,NaN,False,True,Barcelona,2023
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,0 days 02:28:25.600000,2023-06-04 14:29:25.607,1.0,20.0,False,NaN,False,True,Barcelona,2023
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,0 days 02:29:45.580000,2023-06-04 14:30:45.587,1.0,20.0,False,NaN,False,True,Barcelona,2023

In [64]:
df["TotalLaps"] = 0

In [67]:
df.groupby(["Driver", "Location", "Year"])

In [68]:
df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,RaceProgress,TotalLaps
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,0,0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0,0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0,0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0,0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0

In [86]:
coucou = df.groupby(by = ["Year", "Location"], as_index=False)["LapNumber"].max().rename(columns={"LapNumber":"TotalLaps"})
coucou["Year_Location"] = coucou["Year"].map(str) + coucou["Location"]
coucou

     Year    Location  TotalLaps   Year_Location
0    2018      Austin       56.0      2018Austin
1    2018        Baku       51.0        2018Baku
2    2018   Barcelona       66.0   2018Barcelona
3    2018    Budapest       70.0    2018Budapest
4    2018  Hockenheim       67.0  2018Hockenheim
..    ...         ...        ...             ...
104  2023      Jeddah       50.0      2023Jeddah
105  2023   Melbourne       58.0   2023Melbourne
106  2023       Miami       57.0       2023Miami
107  2023      Monaco       78.0      2023Monaco
108  2023      Sakhir       57.0      2023Sakhir

[109 rows x 4 columns]

In [82]:
df["Year_Location"] = df["Year"].map(str) + df["Location"]

In [83]:
df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,RaceProgress,TotalLaps,Year_Location
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,17.0,False,NaN,False,False,Melbourne,2018,0,0,2018Melbourne
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,17.0,False,NaN,False,True,Melbourne,2018,0,0,2018Melbourne
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,17.0,False,NaN,False,True,Melbourne,2018,0,0,2018Melbourne
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,17.0,False,NaN,False,True,Melbourne,2018,0,0,2018Melbourne
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,17.0,False,NaN,False,True,Melbourne,2018,0,0,2018Melbourne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona

In [88]:
final_df = df.merge(coucou, on="Year_Location")

In [91]:
final_df.head()

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,FastF1Generated,IsAccurate,Location_x,Year_x,RaceProgress,TotalLaps_x,Year_Location,Year_y,Location_y,TotalLaps_y
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,False,False,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,False,True,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,False,True,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,False,True,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,False,True,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0

In [92]:
final_df.drop(columns=["TotalLaps_x", "Year_Location", "Year_y", "Location_y"], inplace=True)

In [94]:
final_df["RaceProgress"] = final_df["LapNumber"] / final_df["TotalLaps_y"]

In [95]:
final_df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location_x,Year_x,RaceProgress,TotalLaps_y
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,0.017241,58.0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.034483,58.0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.051724,58.0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.068966,58.0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,0.086207,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.924242,66.0
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.939394,66.0
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.954545,66.0
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.969697,66.0
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.984848,66.0

In [96]:
real_final_df = final_df.rename(columns={"Location_x": "Location",
                         "Year_x": "Year",
                         "TotalLaps_y": "TotalLaps"})

In [97]:
real_final_df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,RaceProgress,TotalLaps
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,0.017241,58.0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.034483,58.0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.051724,58.0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.068966,58.0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,0.086207,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.924242,66.0
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.939394,66.0
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.954545,66.0
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.969697,66.0
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.984848,66.0