In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw_data/laps.csv')
top_10_df = df[~(df['Position'] >= 10)]
top_10_df

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_79053/1924955088.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/laps.csv')

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
36,36,0 days 00:42:11.201000,PER,11,0 days 00:01:30.241000,23.0,1.0,NaN,NaN,0 days 00:00:30.104000,...,0 days 00:40:40.960000,NaN,2.0,9.0,False,NaN,False,True,Melbourne,2018
92,92,0 days 00:39:01.872000,ALO,14,0 days 00:01:29.865000,21.0,1.0,NaN,NaN,0 days 00:00:30.151000,...,0 days 00:37:32.007000,NaN,1.0,9.0,False,NaN,False,True,Melbourne,2018
93,93,0 days 00:40:31.498000,ALO,14,0 days 00:01:29.626000,22.0,1.0,NaN,NaN,0 days 00:00:30.021000,...,0 days 00:39:01.872000,NaN,1.0,7.0,False,NaN,False,True,Melbourne,2018
94,94,0 days 00:42:00.301000,ALO,14,0 days 00:01:28.803000,23.0,1.0,NaN,NaN,0 days 00:00:29.590000,...,0 days 00:40:31.498000,NaN,2.0,7.0,False,NaN,False,True,Melbourne,2018
95,95,0 days 00:43:29.478000,ALO,14,0 days 00:01:29.177000,24.0,1.0,NaN,NaN,0 days 00:00:29.929000,...,0 days 00:42:00.301000,NaN,2.0,5.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125664,125664,0 days 01:52:51.508000,LEC,16,0 days 00:01:20.676000,37.0,2.0,NaN,NaN,0 days 00:00:23.902000,...,0 days 01:51:30.832000,2023-06-04 13:52:30.839,1.0,9.0,False,NaN,False,True,Barcelona,2023
125665,125665,0 days 01:54:11.966000,LEC,16,0 days 00:01:20.458000,38.0,2.0,NaN,NaN,0 days 00:00:23.842000,...,0 days 01:52:51.508000,2023-06-04 13:53:51.515,1.0,9.0,False,NaN,False,True,Barcelona,2023
125666,125666,0 days 01:55:32.524000,LEC,16,0 days 00:01:20.558000,39.0,2.0,NaN,NaN,0 days 00:00:23.933000,...,0 days 01:54:11.966000,2023-06-04 13:55:11.973,1.0,8.0,False,NaN,False,True,Barcelona,2023
125667,125667,0 days 01:56:52.743000,LEC,16,0 days 00:01:20.219000,40.0,2.0,NaN,NaN,0 days 00:00:23.821000,...,0 days 01:55:32.524000,2023-06-04 13:56:32.531,1.0,7.0,False,NaN,False,True,Barcelona,2023
125668,125668,0 days 01:58:16.469000,LEC,16,0 days 00:01:23.726000,41.0,2.0,NaN,0 days 01:58:13.699000,0 days 00:00:23.901000,...,0 days 01:56:52.743000,2023-06-04 13:57:52.750,1.0,8.0,False,NaN,False,False,Barcelona,2023

In [21]:
df['LocationYear'] = df['Location'] + ' ' + df['Year'].astype(str)
lap_total = df.groupby('LocationYear')['LapNumber'].max().reset_index()
lap_total

        LocationYear  LapNumber
0        Austin 2018       56.0
1        Austin 2019       56.0
2        Austin 2021       56.0
3        Austin 2022       56.0
4       Bahrain 2021       57.0
..               ...        ...
104  Yas Island 2021       58.0
105  Yas Island 2022       58.0
106  Yas Marina 2018       55.0
107   Zandvoort 2021       72.0
108   Zandvoort 2022       72.0

[109 rows x 2 columns]

In [27]:
df['LocationLap'] = df['LocationYear'] + ' ' + lap_total['LapNumber']

TypeError: can only concatenate str (not "float") to str

In [24]:
bad_drivers = df[df['Position'].between(11, 20)]
bad_drivers

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,LocationYear,LapTotal
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018,NaN
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,NaN
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,NaN
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,NaN
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,NaN
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,NaN
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,NaN
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,NaN
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,NaN

In [25]:
df = df[~df.apply(lambda row: (row['LocationYear'], row['LapNumber']) in result.values, axis=1)]
df

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_79053/821945984.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  df = df[~df.apply(lambda row: (row['LocationYear'], row['LapNumber']) in result.values, axis=1)]

KeyboardInterrupt:

In [11]:
top_laps_df = df[df['LapNumber'] == lap_total]
top_laps_df

ValueError: Can only compare identically-labeled Series objects

In [ ]:
top_10_positions = df[~(df['Position'] >= 10)]
top_10_positions

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,LocationYear
5658,5658,0 days 01:49:42.311000,RIC,3,0 days 00:01:18.386000,78.0,2.0,NaN,NaN,0 days 00:00:20.703000,...,2018-05-27 14:54:23.955,1.0,1.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
27808,27808,0 days 02:16:14.152000,HAM,44,0 days 00:01:17.567000,78.0,2.0,NaN,NaN,0 days 00:00:19.893000,...,2019-05-26 14:54:57.045,1.0,1.0,False,NaN,False,True,Monte Carlo,2019,Monte Carlo 2019
71847,71847,0 days 02:11:51.649000,VER,33,0 days 00:01:16.829000,78.0,2.0,NaN,NaN,0 days 00:00:20.258000,...,2021-05-23 14:40:35.583,1.0,1.0,False,NaN,False,True,Monte Carlo,2021,Monte Carlo 2021
123009,123009,0 days 02:50:55.200000,VER,1,0 days 00:01:25.201000,78.0,2.0,NaN,NaN,0 days 00:00:22.353000,...,2023-05-28 14:50:30.976,1.0,1.0,False,NaN,False,True,Monaco,2023,Monaco 2023
6047,6047,0 days 01:49:49.647000,VET,5,0 days 00:01:18.262000,78.0,2.0,NaN,NaN,0 days 00:00:20.520000,...,2018-05-27 14:54:31.415,1.0,2.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
28042,28042,0 days 02:16:14.689000,VER,33,0 days 00:01:17.469000,78.0,2.0,NaN,NaN,0 days 00:00:20.254000,...,2019-05-26 14:54:57.680,1.0,2.0,False,NaN,False,True,Monte Carlo,2019,Monte Carlo 2019
71925,71925,0 days 02:12:00.617000,SAI,55,0 days 00:01:16.345000,78.0,2.0,NaN,NaN,0 days 00:00:19.874000,...,2021-05-23 14:40:45.035,1.0,2.0,False,NaN,False,True,Monte Carlo,2021,Monte Carlo 2021
123241,123241,0 days 02:51:23.121000,ALO,14,0 days 00:01:25.668000,78.0,3.0,NaN,NaN,0 days 00:00:22.513000,...,2023-05-28 14:50:58.430,1.0,2.0,False,NaN,False,True,Monaco,2023,Monaco 2023
5969,5969,0 days 01:49:59.324000,HAM,44,0 days 00:01:18.736000,78.0,2.0,NaN,NaN,0 days 00:00:20.562000,...,2018-05-27 14:54:40.618,1.0,3.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
27886,27886,0 days 02:16:16.754000,VET,5,0 days 00:01:17.449000,78.0,2.0,NaN,NaN,0 days 00:00:20.163000,...,2019-05-26 14:54:59.765,1.0,3.0,False,NaN,False,True,Monte Carlo,2019,Monte Carlo 2019

X = df.groupby('LocationYear')['LapNumber'].max().reset_index()

Y = df[df['Position'].between(11, 20)

df = df[~df.apply(lambda row: (row['LocationYear'], row['LapNumber']) in Y.values, axis=1)]

print(df)

In [ ]:
laps_per_locationyear = df.groupby('LocationYear')['LapNumber'].count()

max_laps = df['LapNumber'].max()

top_laps_df = df[df['LapNumber'] == max_laps]

top_10_positions = top_laps_df.nlargest(10, 'Position')

In [ ]:
df = pd.read_csv('../raw_data/laps.csv')
top_15_df = df[~(df['Position'] >= 15)]
top_15_df

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_77450/2520590101.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/laps.csv')

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
14,14,0 days 00:08:50.522000,PER,11,0 days 00:01:42.341000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,0 days 00:07:07.988000,NaN,1.0,12.0,False,NaN,False,False,Melbourne,2018
15,15,0 days 00:10:23.418000,PER,11,0 days 00:01:32.896000,2.0,1.0,NaN,NaN,0 days 00:00:31.283000,...,0 days 00:08:50.522000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
16,16,0 days 00:11:55.422000,PER,11,0 days 00:01:32.004000,3.0,1.0,NaN,NaN,0 days 00:00:30.911000,...,0 days 00:10:23.418000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
17,17,0 days 00:13:26.794000,PER,11,0 days 00:01:31.372000,4.0,1.0,NaN,NaN,0 days 00:00:30.489000,...,0 days 00:11:55.422000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
18,18,0 days 00:14:57.954000,PER,11,0 days 00:01:31.160000,5.0,1.0,NaN,NaN,0 days 00:00:30.373000,...,0 days 00:13:26.794000,NaN,2.0,12.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125706,125706,0 days 01:20:18.112000,SAR,2,0 days 00:01:21.968000,13.0,1.0,NaN,NaN,0 days 00:00:24.077000,...,0 days 01:18:56.144000,2023-06-04 13:19:56.151,1.0,13.0,False,NaN,False,True,Barcelona,2023
125707,125707,0 days 01:21:40.300000,SAR,2,0 days 00:01:22.188000,14.0,1.0,NaN,NaN,0 days 00:00:24.245000,...,0 days 01:20:18.112000,2023-06-04 13:21:18.119,1.0,12.0,False,NaN,False,True,Barcelona,2023
125708,125708,0 days 01:23:03.298000,SAR,2,0 days 00:01:22.998000,15.0,1.0,NaN,NaN,0 days 00:00:24.345000,...,0 days 01:21:40.300000,2023-06-04 13:22:40.307,1.0,12.0,False,NaN,False,True,Barcelona,2023
125709,125709,0 days 01:24:26.211000,SAR,2,0 days 00:01:22.913000,16.0,1.0,NaN,NaN,0 days 00:00:24.266000,...,0 days 01:23:03.298000,2023-06-04 13:24:03.305,1.0,12.0,False,NaN,False,True,Barcelona,2023
125710,125710,0 days 01:25:53.069000,SAR,2,0 days 00:01:26.858000,17.0,1.0,NaN,0 days 01:25:50.297000,0 days 00:00:24.200000,...,0 days 01:24:26.211000,2023-06-04 13:25:26.218,1.0,14.0,False,NaN,False,False,Barcelona,2023