In [1]:
import pandas as pd
import fastf1

In [2]:
df = pd.read_csv('../raw_data/laps.csv')
top_10_df = df[~(df['Position'] >= 10)]
top_10_df

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_86070/1924955088.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/laps.csv')

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
36,36,0 days 00:42:11.201000,PER,11,0 days 00:01:30.241000,23.0,1.0,NaN,NaN,0 days 00:00:30.104000,...,0 days 00:40:40.960000,NaN,2.0,9.0,False,NaN,False,True,Melbourne,2018
92,92,0 days 00:39:01.872000,ALO,14,0 days 00:01:29.865000,21.0,1.0,NaN,NaN,0 days 00:00:30.151000,...,0 days 00:37:32.007000,NaN,1.0,9.0,False,NaN,False,True,Melbourne,2018
93,93,0 days 00:40:31.498000,ALO,14,0 days 00:01:29.626000,22.0,1.0,NaN,NaN,0 days 00:00:30.021000,...,0 days 00:39:01.872000,NaN,1.0,7.0,False,NaN,False,True,Melbourne,2018
94,94,0 days 00:42:00.301000,ALO,14,0 days 00:01:28.803000,23.0,1.0,NaN,NaN,0 days 00:00:29.590000,...,0 days 00:40:31.498000,NaN,2.0,7.0,False,NaN,False,True,Melbourne,2018
95,95,0 days 00:43:29.478000,ALO,14,0 days 00:01:29.177000,24.0,1.0,NaN,NaN,0 days 00:00:29.929000,...,0 days 00:42:00.301000,NaN,2.0,5.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125664,125664,0 days 01:52:51.508000,LEC,16,0 days 00:01:20.676000,37.0,2.0,NaN,NaN,0 days 00:00:23.902000,...,0 days 01:51:30.832000,2023-06-04 13:52:30.839,1.0,9.0,False,NaN,False,True,Barcelona,2023
125665,125665,0 days 01:54:11.966000,LEC,16,0 days 00:01:20.458000,38.0,2.0,NaN,NaN,0 days 00:00:23.842000,...,0 days 01:52:51.508000,2023-06-04 13:53:51.515,1.0,9.0,False,NaN,False,True,Barcelona,2023
125666,125666,0 days 01:55:32.524000,LEC,16,0 days 00:01:20.558000,39.0,2.0,NaN,NaN,0 days 00:00:23.933000,...,0 days 01:54:11.966000,2023-06-04 13:55:11.973,1.0,8.0,False,NaN,False,True,Barcelona,2023
125667,125667,0 days 01:56:52.743000,LEC,16,0 days 00:01:20.219000,40.0,2.0,NaN,NaN,0 days 00:00:23.821000,...,0 days 01:55:32.524000,2023-06-04 13:56:32.531,1.0,7.0,False,NaN,False,True,Barcelona,2023
125668,125668,0 days 01:58:16.469000,LEC,16,0 days 00:01:23.726000,41.0,2.0,NaN,0 days 01:58:13.699000,0 days 00:00:23.901000,...,0 days 01:56:52.743000,2023-06-04 13:57:52.750,1.0,8.0,False,NaN,False,False,Barcelona,2023

In [3]:
df['LocationYear'] = df['Location'] + ' ' + df['Year'].astype(str)
grouped_data = df.groupby('LocationYear')["LapNumber"].max()
grouped_data

LocationYear
Austin 2018        56.0
Austin 2019        56.0
Austin 2021        56.0
Austin 2022        56.0
Bahrain 2021       57.0
                   ...
Yas Island 2021    58.0
Yas Island 2022    58.0
Yas Marina 2018    55.0
Zandvoort 2021     72.0
Zandvoort 2022     72.0
Name: LapNumber, Length: 109, dtype: float64

In [4]:
df = df.merge(grouped_data, on="LocationYear")
df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber_x,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,LocationYear,LapNumber_y
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018,58.0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0

In [5]:
bad_drivers = df[df['Position'].between(11, 20)]
bad_drivers

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber_x,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,LocationYear,LapNumber_y
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018,58.0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0

In [6]:
df = df[~df.apply(lambda row: (row['LocationYear'], row['LapNumber']) in grouped_data.values, axis=1)]
df

KeyError: 'LapNumber'

In [ ]:
top_laps_df = df[df['LapNumber'] == lap_total]
top_laps_df

ValueError: Can only compare identically-labeled Series objects

In [7]:
top_10_positions = df[~(df['Position'] >= 10)]
top_10_positions

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber_x,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,LocationYear,LapNumber_y
36,36,0 days 00:42:11.201000,PER,11,0 days 00:01:30.241000,23.0,1.0,NaN,NaN,0 days 00:00:30.104000,...,2.0,9.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
92,92,0 days 00:39:01.872000,ALO,14,0 days 00:01:29.865000,21.0,1.0,NaN,NaN,0 days 00:00:30.151000,...,1.0,9.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
93,93,0 days 00:40:31.498000,ALO,14,0 days 00:01:29.626000,22.0,1.0,NaN,NaN,0 days 00:00:30.021000,...,1.0,7.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
94,94,0 days 00:42:00.301000,ALO,14,0 days 00:01:28.803000,23.0,1.0,NaN,NaN,0 days 00:00:29.590000,...,2.0,7.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
95,95,0 days 00:43:29.478000,ALO,14,0 days 00:01:29.177000,24.0,1.0,NaN,NaN,0 days 00:00:29.929000,...,2.0,5.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125664,125664,0 days 01:52:51.508000,LEC,16,0 days 00:01:20.676000,37.0,2.0,NaN,NaN,0 days 00:00:23.902000,...,1.0,9.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125665,125665,0 days 01:54:11.966000,LEC,16,0 days 00:01:20.458000,38.0,2.0,NaN,NaN,0 days 00:00:23.842000,...,1.0,9.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125666,125666,0 days 01:55:32.524000,LEC,16,0 days 00:01:20.558000,39.0,2.0,NaN,NaN,0 days 00:00:23.933000,...,1.0,8.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125667,125667,0 days 01:56:52.743000,LEC,16,0 days 00:01:20.219000,40.0,2.0,NaN,NaN,0 days 00:00:23.821000,...,1.0,7.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023,66.0
125668,125668,0 days 01:58:16.469000,LEC,16,0 days 00:01:23.726000,41.0,2.0,NaN,0 days 01:58:13.699000,0 days 00:00:23.901000,...,1.0,8.0,False,NaN,False,False,Barcelona,2023,Barcelona 2023,66.0

X = df.groupby('LocationYear')['LapNumber'].max().reset_index()

Y = df[df['Position'].between(11, 20)

df = df[~df.apply(lambda row: (row['LocationYear'], row['LapNumber']) in Y.values, axis=1)]

print(df)

In [6]:
laps_per_locationyear = df.groupby('LocationYear')['LapNumber'].count()

max_laps = df['LapNumber'].max()

top_laps_df = df[df['LapNumber'] == max_laps]

top_10_positions = top_laps_df.nlargest(10, 'Position')

top_10_positions

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,LocationYear
5431,5431,0 days 01:50:57.134000,MAG,20,0 days 00:01:19.295000,78.0,2.0,NaN,NaN,0 days 00:00:21.085000,...,2018-05-27 14:55:37.869,1.0,13.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
5076,5076,0 days 01:50:52.772000,PER,11,0 days 00:01:18.745000,78.0,2.0,NaN,NaN,0 days 00:00:20.510000,...,2018-05-27 14:55:34.057,1.0,12.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
6436,6436,0 days 01:50:52.175000,ERI,9,0 days 00:01:19.184000,78.0,2.0,NaN,NaN,0 days 00:00:20.750000,...,2018-05-27 14:55:33.021,1.0,11.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
28588,28588,0 days 02:17:20.953000,NOR,4,0 days 00:01:17.255000,78.0,2.0,NaN,NaN,0 days 00:00:20.027000,...,2019-05-26 14:56:04.158,2.0,11.0,False,NaN,False,True,Monte Carlo,2019,Monte Carlo 2019
6125,6125,0 days 01:50:51.324000,SAI,55,0 days 00:01:19.538000,78.0,2.0,NaN,NaN,0 days 00:00:20.720000,...,2018-05-27 14:55:31.816,1.0,10.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
28432,28432,0 days 02:17:15.046000,RIC,3,0 days 00:01:15.697000,78.0,2.0,NaN,NaN,0 days 00:00:19.774000,...,2019-05-26 14:55:59.809,2.0,10.0,False,NaN,False,True,Monte Carlo,2019,Monte Carlo 2019
5814,5814,0 days 01:50:07.628000,VER,33,0 days 00:01:19.142000,78.0,2.0,NaN,NaN,0 days 00:00:20.665000,...,2018-05-27 14:54:48.516,1.0,9.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
28510,28510,0 days 02:17:10.186000,GRO,8,0 days 00:01:17.381000,78.0,2.0,NaN,NaN,0 days 00:00:20.757000,...,2019-05-26 14:55:53.265,2.0,9.0,False,NaN,False,True,Monte Carlo,2019,Monte Carlo 2019
5509,5509,0 days 01:50:07.150000,HUL,27,0 days 00:01:19.154000,78.0,2.0,NaN,NaN,0 days 00:00:20.682000,...,2018-05-27 14:54:48.026,1.0,8.0,False,NaN,False,True,Monte Carlo,2018,Monte Carlo 2018
28354,28354,0 days 02:17:09.352000,ALB,23,0 days 00:01:17.926000,78.0,2.0,NaN,NaN,0 days 00:00:20.507000,...,2019-05-26 14:55:51.886,2.0,8.0,False,NaN,False,True,Monte Carlo,2019,Monte Carlo 2019

In [9]:
df = pd.read_csv('../raw_data/laps.csv')
top_15_df = df[~(df['Position'] >= 15)]

top_15_df

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_86070/3223210339.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/laps.csv')

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
14,14,0 days 00:08:50.522000,PER,11,0 days 00:01:42.341000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,0 days 00:07:07.988000,NaN,1.0,12.0,False,NaN,False,False,Melbourne,2018
15,15,0 days 00:10:23.418000,PER,11,0 days 00:01:32.896000,2.0,1.0,NaN,NaN,0 days 00:00:31.283000,...,0 days 00:08:50.522000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
16,16,0 days 00:11:55.422000,PER,11,0 days 00:01:32.004000,3.0,1.0,NaN,NaN,0 days 00:00:30.911000,...,0 days 00:10:23.418000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
17,17,0 days 00:13:26.794000,PER,11,0 days 00:01:31.372000,4.0,1.0,NaN,NaN,0 days 00:00:30.489000,...,0 days 00:11:55.422000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
18,18,0 days 00:14:57.954000,PER,11,0 days 00:01:31.160000,5.0,1.0,NaN,NaN,0 days 00:00:30.373000,...,0 days 00:13:26.794000,NaN,2.0,12.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125706,125706,0 days 01:20:18.112000,SAR,2,0 days 00:01:21.968000,13.0,1.0,NaN,NaN,0 days 00:00:24.077000,...,0 days 01:18:56.144000,2023-06-04 13:19:56.151,1.0,13.0,False,NaN,False,True,Barcelona,2023
125707,125707,0 days 01:21:40.300000,SAR,2,0 days 00:01:22.188000,14.0,1.0,NaN,NaN,0 days 00:00:24.245000,...,0 days 01:20:18.112000,2023-06-04 13:21:18.119,1.0,12.0,False,NaN,False,True,Barcelona,2023
125708,125708,0 days 01:23:03.298000,SAR,2,0 days 00:01:22.998000,15.0,1.0,NaN,NaN,0 days 00:00:24.345000,...,0 days 01:21:40.300000,2023-06-04 13:22:40.307,1.0,12.0,False,NaN,False,True,Barcelona,2023
125709,125709,0 days 01:24:26.211000,SAR,2,0 days 00:01:22.913000,16.0,1.0,NaN,NaN,0 days 00:00:24.266000,...,0 days 01:23:03.298000,2023-06-04 13:24:03.305,1.0,12.0,False,NaN,False,True,Barcelona,2023
125710,125710,0 days 01:25:53.069000,SAR,2,0 days 00:01:26.858000,17.0,1.0,NaN,0 days 01:25:50.297000,0 days 00:00:24.200000,...,0 days 01:24:26.211000,2023-06-04 13:25:26.218,1.0,14.0,False,NaN,False,False,Barcelona,2023

In [10]:
import datetime


def get_results_driver_CSV(years):
    """ This function downloads the final result of all the races of the years you entered
    The parameter 'years' must be a list of integers """

    df_results = pd.DataFrame()
    for year in years :
        season = fastf1.get_event_schedule(year)
        locations = season['Location'].values.tolist()
        df_results_per_locations = pd.DataFrame()

        if year != int(datetime.date.today().strftime("%Y")) :
            locations = locations
        else :
            next_gp = fastf1.get_events_remaining()['Location'].values.tolist()[0]
            locations = season['Location'].values.tolist()[0:locations.index(next_gp)]

        for location in locations :
            session = fastf1.get_session(year, location, 'R')
            session.load()
            points_per_driver = session.results[['Abbreviation','Position']].reset_index()
            points_per_driver['Year']= year
            points_per_driver['Location'] = location
            df_results_per_locations = pd.concat([df_results_per_locations,points_per_driver],ignore_index=True)
            print(f'Done for {location} & year {year} !')


        df_results = pd.concat([df_results,df_results_per_locations],ignore_index=True)


    #df_results.to_csv('../raw_data/driver_results23.csv')
    print (f'The file driver_results.csv has been successfully downloaded for the following years : {years} ')

In [11]:
#get_results_driver_CSV([2023])

In [12]:
df = pd.read_csv('../notebooks/driver_results.csv')

In [13]:
df['LocationYear'] = df['Location'] + ' ' + df['Year'].astype(str)
df.rename(columns= {'Abbreviation': 'Driver'}, inplace= True)
df

      Unnamed: 0  index Driver  Position  Year   Location    LocationYear
0              0      5    VET       1.0  2018  Melbourne  Melbourne 2018
1              1     44    HAM       2.0  2018  Melbourne  Melbourne 2018
2              2      7    RAI       3.0  2018  Melbourne  Melbourne 2018
3              3      3    RIC       4.0  2018  Melbourne  Melbourne 2018
4              4     14    ALO       5.0  2018  Melbourne  Melbourne 2018
...          ...    ...    ...       ...   ...        ...             ...
2315         155     23    ALB      16.0  2023  Barcelona  Barcelona 2023
2316         156      4    NOR      17.0  2023  Barcelona  Barcelona 2023
2317         157     20    MAG      18.0  2023  Barcelona  Barcelona 2023
2318         158     77    BOT      19.0  2023  Barcelona  Barcelona 2023
2319         159      2    SAR      20.0  2023  Barcelona  Barcelona 2023

[2320 rows x 7 columns]

In [4]:
top_10_df = df[(df['Position'] <= 10)]
top_10_df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,LocationYear
35,35,0 days 00:40:40.960000,PER,11,0 days 00:01:31.254000,22.0,1.0,NaN,NaN,0 days 00:00:30.525000,...,NaN,1.0,10.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018
36,36,0 days 00:42:11.201000,PER,11,0 days 00:01:30.241000,23.0,1.0,NaN,NaN,0 days 00:00:30.104000,...,NaN,2.0,9.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018
72,72,0 days 00:08:49.709000,ALO,14,0 days 00:01:41.528000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,NaN,1.0,10.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018
73,73,0 days 00:10:21.274000,ALO,14,0 days 00:01:31.565000,2.0,1.0,NaN,NaN,0 days 00:00:30.482000,...,NaN,1.0,10.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018
74,74,0 days 00:11:52.578000,ALO,14,0 days 00:01:31.304000,3.0,1.0,NaN,NaN,0 days 00:00:30.619000,...,NaN,1.0,10.0,False,NaN,False,True,Melbourne,2018,Melbourne 2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125664,125664,0 days 01:52:51.508000,LEC,16,0 days 00:01:20.676000,37.0,2.0,NaN,NaN,0 days 00:00:23.902000,...,2023-06-04 13:52:30.839,1.0,9.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023
125665,125665,0 days 01:54:11.966000,LEC,16,0 days 00:01:20.458000,38.0,2.0,NaN,NaN,0 days 00:00:23.842000,...,2023-06-04 13:53:51.515,1.0,9.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023
125666,125666,0 days 01:55:32.524000,LEC,16,0 days 00:01:20.558000,39.0,2.0,NaN,NaN,0 days 00:00:23.933000,...,2023-06-04 13:55:11.973,1.0,8.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023
125667,125667,0 days 01:56:52.743000,LEC,16,0 days 00:01:20.219000,40.0,2.0,NaN,NaN,0 days 00:00:23.821000,...,2023-06-04 13:56:32.531,1.0,7.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023
125668,125668,0 days 01:58:16.469000,LEC,16,0 days 00:01:23.726000,41.0,2.0,NaN,0 days 01:58:13.699000,0 days 00:00:23.901000,...,2023-06-04 13:57:52.750,1.0,8.0,False,NaN,False,False,Barcelona,2023,Barcelona 2023

In [15]:
df = pd.read_csv('../raw_data/laps.csv')
df['LocationYear'] = df['Location'] + ' ' + df['Year'].astype(str)
pilots = df[['Driver','Position','LocationYear','LapNumber']]
pilots

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_86070/361779262.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/laps.csv')

       Driver  Position    LocationYear  LapNumber
0         GAS      17.0  Melbourne 2018        1.0
1         GAS      17.0  Melbourne 2018        2.0
2         GAS      17.0  Melbourne 2018        3.0
3         GAS      17.0  Melbourne 2018        4.0
4         GAS      17.0  Melbourne 2018        5.0
...       ...       ...             ...        ...
125754    SAR      20.0  Barcelona 2023       61.0
125755    SAR      20.0  Barcelona 2023       62.0
125756    SAR      20.0  Barcelona 2023       63.0
125757    SAR      20.0  Barcelona 2023       64.0
125758    SAR      20.0  Barcelona 2023       65.0

[125759 rows x 4 columns]

In [16]:
merged_df = df.merge(pilots[['LocationYear', 'Driver']], on=['LocationYear', 'Driver'], how='inner')
merged_df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,LocationYear
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,NaN,1.0,17.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018
1,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,NaN,1.0,17.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018
2,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,NaN,1.0,17.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018
3,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,NaN,1.0,17.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018
4,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,NaN,1.0,17.0,False,NaN,False,False,Melbourne,2018,Melbourne 2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8604072,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,2023-06-04 14:30:45.587,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023
8604073,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,2023-06-04 14:30:45.587,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023
8604074,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,2023-06-04 14:30:45.587,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023
8604075,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,2023-06-04 14:30:45.587,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023
8604076,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,2023-06-04 14:30:45.587,1.0,20.0,False,NaN,False,True,Barcelona,2023,Barcelona 2023

In [2]:
import pandas as pd
df = pd.read_csv('../raw_data/laps.csv')
df['LocationYear'] = df['Location'] + ' ' + df['Year'].astype(str)
pilots = df[['Driver','Position','LocationYear','LapNumber']]
merged_df = pilots.merge(df[['LocationYear', 'Driver']], on=['LocationYear', 'Driver'], how='inner')
filtered_df = pilots.drop(merged_df)
filtered_df

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_86244/1741492841.py:2: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/laps.csv')

        Driver  Position    LocationYear  LapNumber
0          GAS      17.0  Melbourne 2018        1.0
1          GAS      17.0  Melbourne 2018        1.0
2          GAS      17.0  Melbourne 2018        1.0
3          GAS      17.0  Melbourne 2018        1.0
4          GAS      17.0  Melbourne 2018        1.0
...        ...       ...             ...        ...
8604072    SAR      20.0  Barcelona 2023       65.0
8604073    SAR      20.0  Barcelona 2023       65.0
8604074    SAR      20.0  Barcelona 2023       65.0
8604075    SAR      20.0  Barcelona 2023       65.0
8604076    SAR      20.0  Barcelona 2023       65.0

[8604077 rows x 4 columns]